body {
    box-sizing: border-box;
    display: block;

    width: 100%;
    margin: 0;
    padding: 0;

    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.button {

    box-sizing: border-box;
    display: inline-block;

    margin: 0;
    padding: 14px 30px;

    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #fb565a;

    border: none;
    border-radius: 4px;
}

.button-green {
    background-color: #00ca74;
}

.button-yellow {
    background-color: #efc84a;
}

.button-grey {
    background-color: #eeeeee;
    color: #000000;
}

.button:hover {
    background-color: #e74246;
}

.button-green:hover {
    background-color: #00bc6c;
}

.button-yellow:hover {
    background-color: #eab534;
}

.button-grey:hover {
    background-color: #dfdfdf;
}

.button:active {
    color: rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 3px 0 rgba(0,0,0,0.1);
    background-color: #d7373b;
}

.button-green:active {
    background-color: #00aa62;
}

.button-yellow:active {
    background-color: #e5a722;
}

.button-grey:active {
    background-color: #d5d5d5;
    color: #959595;
}

.page-header {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;

    background-color: #eeeeee;
}

.page-header-header {
    margin: 0;
    padding-top: 55px;
    padding-bottom: 100px;

    font-size: 55px;
    line-height: 55px;
    text-align: center;
}


.page-header-navigation {
    display: flex;
    justify-content: space-between;

    width: 1160px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 10px;
}

.main-navigation-logo {
    fill: #000000;
}

.main-navigation-logo:hover {
    fill: #303030;
}

.main-navigation-logo:active {
    fill: #a6a6a6;
}

.page-header--main-navigation {
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;
}

.main-navigation-item {
    display: flex;
}

.main-navigation-link,
.user-navigation-link {
    padding: 27px 25px;

    color: #000000;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.main-navigation-link:hover,
.user-navigation-link:hover {
    color: #fb565a;
}

.main-navigation-link:active,
.user-navigation-link:active {
    color: rgba(0, 0, 0, 0.3);
}

.user-navigation-item {
    display: flex;
    position: relative;

    padding-left: 40px;
}

.user-navigation-item:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 31px;
    left: 25px;

    background-image: url(../img/cart-icon.svg);
    background-repeat: no-repeat;
}

.advantages {
    box-sizing: border-box;
    width: 1160px;
    margin: 0 auto;
    padding: 80px 0;
}

.advantages-list {
    box-sizing: border-box;
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;
}

.advantages-card {
    margin-right: 100px;
}

.card-header {
    margin: 20px 0;

    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.card-message {
    margin-bottom: 30px;

    font-size: 16px;
    line-height: 24px;
}

.card-link {
    padding: 14px 40px;
}

.studio {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

    width: 1160px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 75px;

    font-size: 16px;
    line-height: 24px;
}

.about-us-header {
    margin: 35px 0;

    font-size: 45px;
    line-height: 45px;
    font-weight: bold;
}

.about-us-message {
    margin: 25px 0;
}

.about-us-small-header {
    margin-bottom: 0px;

    font-weight: bold;
    text-transform: uppercase;
}

.about-us-features-list {
    padding: 0;
    list-style: none;
}

.features-list-item {
    position: relative;
    padding: 14px 0;
    padding-left: 40px;
}

.features-list-item:before {
    position: absolute;
    content: "";
    vertical-align: middle;
    width: 30px;
    height: 2px;
    background-color: #fb565a;
    top: 24px;
    left: 0;
}

.quality-small-header {
    margin: 30px 0;
    padding-left: 25px;

    font-weight: bold;
    text-transform: uppercase;
}

.quality-list {
    display: flex;
    justify-content: space-between;

    padding: 0;

    list-style: none;
}

.quality-list-header {
    margin: 0;
    margin-bottom: 20px;

    font-weight: bold;
    font-size: 45px;
    line-height: 45px;
}

.examples {
    box-sizing: border-box;
    width: 1160px;
    margin: 0 auto;
}

.examples-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.examples-item {
    box-sizing: border-box;
    position: relative;
    width: 290px;
    height: 180px;
}

.examples-link {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contacts {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    margin-top: 80px;
    padding: 54px 0;
    background-image: url(../img/map_default.jpg);
}

.contacts-block {
    box-sizing: border-box;
    width: 320px;
    margin: 0 380px;
    padding: 46px 50px;
    background-color: #fff;
}

.contacts-block-header {
    margin: 5px 0;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.contacts-block-message {
    margin: 20px 0;
    color: #666666;
    font-style: 16px;
    line-height: 18px;
}

.contacts-block-button {
    width: 220px;
    margin-top: 20px;
    padding: 14px 44px;
}

.page-footer {
    box-sizing: border-box;
    width: 1160px;
    margin: 0 auto;
} 


.catalog-container {
    box-sizing: border-box;

    width: 1160px;
    padding-top: 60px;
    margin: 0 auto;
}

.catalog-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.catalog-filters {
    box-sizing: border-box;

    width: 260px;
}

.catalog {
    box-sizing: border-box;

    width: 760px;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0;
    padding: 0;

    list-style: none;
}

.catalog-item {
    box-sizing: border-box;
    position: relative;

    width: 360px;
    margin: 0;
    padding: 0;
    margin-bottom: 35px;
}

.catalog-image {
    margin: 0;
    margin-top: -7px;
    padding: 0;
}

.page-footer {
    box-sizing: border-box;
    display: flex;
    width: 1160px;
    margin: 0 auto;
    padding: 70px 0;
}

.social-list {
    display: flex;
    justify-content: space-between;
    width: 260px;
    margin: 0;
    padding: 0;
    margin-right: 100px;

    list-style: none;
}

.social-item {
    position: relative;

    width: 78px;
    height: 78px;

    border-radius: 50%;
    background-color: #e1e1e1;
}

.social-link {
    position: relative;
    display: block;
    width: 78px;
    height: 78px;

    border-radius: 50%;

    background-color: #e1e1e1;
}

.social-link:hover {
    background-color: #e74246;
}

.social-link:active {
    background-color: #d7373b;
}

.social-icon {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.friendship-slogan-header {
    margin: 5px 0;

    font-size: 35px;
    line-height: 35px;
    font-weight: bold;
}

.friendship-slogan-message {
    margin: 15px 0;

    font-size: 15px;
    line-height: 20px;
} 