body {
    margin: 0;
    padding: 0;
    min-width: 1180px;

    font: 16px/24px Roboto, Arial, sans-serif;
    color: #000000;

    background-color: #fff;
}

.button {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: inline-block;

    margin: 0;
    padding: 14px 20px;

    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;

    background-color: #fb565a;

    border: none;
    border-radius: 4px;

    cursor: pointer;
}

.button-green {
    background-color: #00ca74;
}

.button-yellow {
    background-color: #efc84a;
}

.button-grey {
    background-color: #eeeeee;
    color: #000000;
}

.button:hover {
    background-color: #e74246;
}

.button-green:hover {
    background-color: #00bc6c;
}

.button-yellow:hover {
    background-color: #eab534;
}

.button-grey:hover {
    background-color: #dfdfdf;
}

.button:active {
    color: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 3px 0 rgba(0,0,0,0.1);
            box-shadow: inset 0 3px 0 rgba(0,0,0,0.1);
    background-color: #d7373b;
}

.button-green:active {
    background-color: #00aa62;
}

.button-yellow:active {
    background-color: #e5a722;
}

.button-grey:active {
    background-color: #d5d5d5;
    color: #959595;
}

.page-header {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;

    background-color: #eeeeee;
}


.page-header-header {
    margin: 0;
    padding-top: 72px;
    padding-bottom: 100px;

    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
    text-align: center;
}

.page-header-slider {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    background-color: #eeeeee;
}

.slider-link {
    padding: 16px 55px;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  
  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  
  width: 18px;
  height: 18px;
  
  background: #ffffff;
  
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.slider-item {
  display: none;
  padding: 70px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.page-header-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 1160px;
    margin: 0 auto;
    padding-top: 49px;
}

.main-navigation-logo {
    opacity: 1;
}

.main-navigation-logo:hover {
    opacity: 0.8;
}

.main-navigation-logo:active {
    opacity: 0.3;
}

.page-header--main-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.page-header--user-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-navigation-item {
    padding-top: 29px;
    margin-right: 46px;
}

.main-navigation-link,
.user-navigation-link {
    color: #000000;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
}

.user-navigation-link {
    padding: 0;
}

.main-navigation-link:hover,
.user-navigation-link:hover {
    color: #fb565a;
}

.main-navigation-link:active,
.user-navigation-link:active {
    color: rgba(0, 0, 0, 0.3);
}

.user-navigation-item {
    position: relative;
    padding-left: 40px;
    padding-top: 29px;
}

.user-navigation-item:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 33px;
    left: 0px;
    background-image: url(../img/cart-icon.svg);
    background-repeat: no-repeat;
}

.site-navigation-current {
    -webkit-box-shadow: 0 2px 0 0 #fb565a;
            box-shadow: 0 2px 0 0 #fb565a;
}

.advantages {
    width: 1160px;
    margin: 0 auto;
    padding: 80px 20px;
}

.advantages-list {
   -webkit-box-sizing: border-box;
        box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;
}

.advantages-card {
    margin-right: 100px;
}

.card-header {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 18px;
    margin-bottom: 10px;
}

.card-message {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 24px;
}

.card-link {
    padding: 16px 39px;
}

.studio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 1160px;
    margin: 0 auto;
    padding: 40px 20px 50px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
}

.about-us-header {
    font-size: 45px;
    line-height: 45px;
    margin-top: 35px;
    margin-bottom: 34px;
    font-weight: 500;
}

.about-us-message {
    margin: 25px 0;
}

.about-us-small-header {
    margin-bottom: 0px;
    font-weight: 500;
    margin-top: 37px;
    text-transform: uppercase;
}

.about-us-features-list {
    padding: 0;
    list-style: none;
    margin: 0;
}

.features-list-item {
    position: relative;
    padding-left: 36px;
    margin-top: 24px;
}

.features-list-item:before {
    position: absolute;
    content: "";
    vertical-align: middle;
    width: 26px;
    height: 2px;
    background-color: #fb565a;
    top: 12px;
    left: 0;
}

.quality-small-header {
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 41px;
    margin-top: 30px;
}

.quality-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    padding: 0;
    list-style: none;
}

.quality-list li {margin-right: 22px;}
.quality-list li:last-child {
  margin-right: 0;
}

.quality-list-message {
  margin: 0;
  line-height: 18px;
}

.quality-list-header {
    margin-bottom: 19px;
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    display: block;
}

.quality-list-header sup {
  font-size: 28px;
}

.examples {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
    padding-bottom: 80px;
}

.examples-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
}

.examples-item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    width: 290px;
    height: 180px;

}

.examples-item:not(:last-child):before {
    content: "";
    position: absolute;
    width: 2px;
    height: 52px;
    top: 50%;
    right: 9px;
    -webkit-transform: translate(80%, -50%);
        -ms-transform: translate(80%, -50%);
            transform: translate(80%, -50%);
    background-color: #eeeeee;
}

.examples-link {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-57%, -38%);
        -ms-transform: translate(-57%, -38%);
            transform: translate(-57%, -38%);

    opacity: 0.2;
}

.examples-link:hover {
    opacity: 1;
}

.examples-link:active {
    opacity: 0.1;
}

.contacts {
    position: relative;
    -webkit-box-sizing: border-box;
        box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 54px 0;

    background-color: #eeeeee;
    background-image: url(../img/map_default.jpg);
}

.contacts-map{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border: none;
    outline: none;

}

.contacts-block {
    position: relative;
    z-index: 2;
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

.contacts-block-card {
    position: relative;
    box-sizing: border-box;
    width: 320px;
    padding: 46px 50px;
    background-color: #fff;
}

.contacts-block-header {
    margin: 5px 0;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
}

.contacts-block-message {
    margin: 20px 0;
    color: #666666;
    font-style: 16px;
    line-height: 18px;
}

.contacts-block-button {
    margin-top: 17px;
    padding: 16px 44px;
}

.page-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1160px;
    margin: 0 auto;
    padding: 70px 20px;
}

.catalog-container {
    width: 1160px;
    padding-top: 60px;
    margin: 0 auto;
}

.catalog-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 1160px;
    margin: 0 auto;
}

.catalog-filters {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    width: 260px;
}

.catalog {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    width: 760px;
}

.filters-header {
    margin-bottom: 15px;

    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
}

.header-st {
    margin-bottom: 47px;
}

.filters-form fieldset {
    margin: 0;
    margin-bottom: 27px;
    padding: 0;

    border: none;
}

.filters-form legend {
    margin-bottom: 15px;

    font-size: 18px;
    line-height: 30px;
    font-weight: bold;

    text-transform: uppercase;
}

.filters-form fieldset:first-child {
    margin-bottom: 55px;
}

.filters-form fieldset:first-child legend {
    margin-bottom: 47px;
}

.filters-range {
    position: relative;
    height: 41px;
    margin-bottom: 14px;
    padding: 0 20px;
    padding-top: 39px;

    background-color: #f1f1f1;

    border-radius: 5px;

    overflow: hidden;
}

.range-line {
    height: 2px;

    background: #d7dcde;
}

.range-scale {
    width: 70%;
    height: 2px;

    background: #00ca74;
}

.range-button {
    position: absolute;
    top: 30px;
    left: 0;
    width: 4px;
    height: 4px;

    cursor: pointer;

    border: 8px solid #ffffff;
    border-radius: 50%;

    background-color: #ababab;


    -webkit-box-shadow: 0 2px 1px #cfcfcf;


            box-shadow: 0 2px 1px #cfcfcf;
}

.range-button-min {
    left: 20px;
}

.range-button-max {
    left: 165px;
}

.filters-fields-labels {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-transform: uppercase;
}

.fields-labels-input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    font: inherit;

    width: 80px;
    margin-left: 8px;
    padding: 8px 10px;

    color: #283136;
    text-align: center;

    border: none;
    border-radius: 5px;

    background-color: #eeeeee;
}

.filters-stroke-ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.filters-grids,
.filters-features {
    margin: 60px 0;
    padding: 0;

    border: none;
}

.filter-option {
    margin-bottom: 17px;
}

.filter-input + label {
    position: relative;
    padding-left: 36px;

    line-height: 20px;
    color: #283136;
}

.filter-input-radio + label::before {
    content: "";
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    position: absolute;
    top: -3px;
    left: 0;

    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 4px solid #4d4d4d;
    opacity: 0.4;
}

.filter-input-radio:checked + label::after {
    content: "";

    position: absolute;
    top: 5px;
    left: 8px;

    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #4d4d4d;
    opacity: 0.4;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:focus + label::before,
.filter-input-radio:hover + label::after,
.filter-input-radio:focus + label::after {
    opacity: 1;
}

.filter-input-checkbox + label::before {
    content: "";

    position: absolute;
    top: -4px;
    left: 0px;

    width: 26px;
    height: 27px;

    background: url(../img/checkbox-off.svg) no-repeat left center;
    opacity: 0.4;
}

.filter-input-checkbox:checked + label::before {
    background-image: url(../img/checkbox-on.svg);
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before {
    opacity: 1;
}

.filters-button {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 260px;
    padding: 15px 20px;

    line-height: 18px;
    font-weight: 500;
    color: #000;

    background-color: #eee;
}

.filters-button:hover,
.filters-button:focus {
    background-color: #dfdfdf;
}

.filters-button:active {
    color: rgba(0, 1, 1, 0.3);

    -webkit-box-shadow: inset 0px 3px rgba(0, 1, 1, 0.1);

            box-shadow: inset 0px 3px rgba(0, 1, 1, 0.1);
    background-color: #d5d5d5;
}

.sorting-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.sorting-header {
    margin: 0;
    margin-bottom: 47px;

    font-size: 18px;
    line-height: 30px;
    font-weight: bold;

    text-transform: uppercase;
}

.sorting-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    padding: 0;
    margin-left: auto;

    list-style: none;
}

.sorting-item {
    margin-left: 26px;
}

.sorting-link {
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);

    text-transform: uppercase;
}

.sorting-link:hover {
    color: rgba(0, 0, 0, 0.6);
}

.sorting-link:active,
.sorting-link-current {
    color: rgba(0, 0, 0, 1);
}

.sort-order-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    margin-left: 47px;
    padding: 0;

    list-style-type: none;
}

.sort-order-list li + li {
    margin-left: 16px;
}

.sort-order-list-to-bottom a,
.sort-order-list-to-up a {
    display: inline-block;
    width: 0;
    height: 0;

    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}

.sort-order-list-to-bottom a {
    border-top: 11px solid rgba(0, 0, 0, 0.2);
}

.sort-order-list-to-bottom a:hover,
.sort-order-list-to-bottom a:focus {
    border-top-color: #a6a6a6;
}

.sort-order-list-to-bottom a:active,
.sort-order-list-current a {
    border-top-color: rgba(0, 0, 0, 1);
}

.sort-order-list-to-up a {
    border-bottom: 11px solid rgba(0, 0, 0, 0.2);
}

.sort-order-list-to-up a:hover,
.sort-order-list-to-up a:focus {
    border-bottom-color: #a6a6a6;
}

.sort-order-list-to-up a:active {
    border-bottom-color: rgba(0, 0, 0, 1);
}


.catalog-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    margin: 0;
    padding: 0;
    padding-bottom: 45px;

    list-style: none;
}

.catalog-item {
    position: relative;

    width: 360px;
    height: 576px;
    padding-top: 40px;
    margin-bottom: 50px;

    overflow: hidden;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 1, 1, 0.1);
            box-shadow: 0 0 0 1px rgba(0, 1, 1, 0.1);
    border-radius: 3px 3px 0 0;
    -webkit-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.catalog-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    height: 40px;

    background: rgba(0, 0, 0, 0.12) url(../img/catalog-header.svg) no-repeat;
    opacity: 0.12;
    -webkit-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.catalog-item:hover::before {
    opacity: 1;
}

.catalog-hover-block {
    position: absolute;
    width: 360px;
    min-height: 230px;
    bottom: 0;
    text-align: center;

    background-color: #eeeeee;
    opacity: 0;
    -webkit-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    transition: .2s ease-out;
}

.catalog-item:hover .catalog-hover-block,
.catalog-item:hover .catalog-item_header {
    -webkit-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    transition: .2s ease-out;
    opacity: 1;
}

.catalog-item:hover .catalog-image {
    -webkit-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    transition: .2s ease-out;
    -webkit-filter: blur(1px);
            filter: blur(1px);
}

.hover-block-header {
    margin: 25px 0 15px;
    padding: 0;
    color: #000000;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
}

.hover-block-message {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;

    color: #666666;
    font-style: 16px;
    line-height: 18px;
    font-weight: normal;
}

.hover-block-button {
    width: 200px;
}

.catalog-item-header {
    -webkit-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    transition: .2s ease-out;
    opacity: .12;
}

.catalog-image {
    margin: 0;
    display: block;
    padding: 0;
}

.page-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1160px;
    margin: 0 auto;
    padding: 70px 0;
}

.social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 260px;
    margin: 0;
    padding: 0;
    margin-right: 140px;

    list-style: none;
}

.social-item {
    position: relative;

    width: 78px;
    height: 78px;

    border-radius: 50%;
    background-color: #e1e1e1;
}

.social-link {
    position: relative;
    display: block;
    width: 78px;
    height: 78px;

    border-radius: 50%;

    background-color: #e1e1e1;
}

.social-link:hover {
    background-color: #e74246;
}

.social-link:active {
    background-color: #d7373b;
}

.social-icon {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%,-50%);
}

.friendship-slogan-header {
    margin: 5px 0;

    font-size: 36px;
    line-height: 36px;
    font-weight: 500;
}

.friendship-slogan-message {
    margin: 11px 0;
    font-size: 16px;
    line-height: 22px;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
}

.divider {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    display: block;
    margin: 0 auto;
    padding: 0 20px;
    width: 1160px;
    height: 2px;
    background-color: #eeeeee;
}

.pagination-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    width: 445px;
    margin: 0;
    padding: 0;
    padding-bottom: 60px;

    list-style: none;
}

.pagination-item {
    margin: 0;
    padding: 0;
}

.pagination-link {
    display: block;
    margin-right: 3px;

    border: 3px solid #eeeeee;
}

.pagination-link:hover {
    border-color:#dfdfdf;
}

.pagination-link:active {
    border: none;
    padding: 17px 23px;
}

.pagination-link-current {
    border-color: #dbdbdb;

    background-color: #fff;
}

.pagination-button {
    width: 245px;
    padding: 17px 23px;
    text-align: center;
}

.modal-write-us {
    box-sizing: border-box;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -480px;
    margin-top: -297px;
    width: 960px;
    padding: 70px 100px;
    z-index: 3;
    background-color: #ffffff;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, .75);
}

.modal-write-us-form {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;

    font-size: 16px;
    line-height: 18px;
}

.modal-write-us-header-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 760px;
}

.modal-write-us-header {
    margin: 0;
    margin-bottom: 45px;
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
}

.modal-write-us-close-button {
    position: absolute;
    width: 21px;
    height: 21px;
    top: 0;
    right: 0;

    background-color: transparent;
    background-image: url(../img/close-cross.svg);
    background-repeat: no-repeat;

    border: none;

    cursor: pointer;

    opacity: .3;
}

.modal-write-us-close-button:hover {
    opacity: 1;
}

.modal-write-us-close-button:active {
    opacity: .1;
}

.modal-write-us-name-and-email {
    display: flex;
    justify-content: space-between;
    width: 760px;
}

.modal-write-us-textfield {
    display: flex;
    flex-direction: column;
    width: 760px;
    -webkit-resize: none;
    resize: none;

}

.modal-write-us-input-header {
    margin-bottom: 10px;

    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}

.modal-write-us-input {
    display: flex;
    flex-direction: column;
}

.modal-write-us-input-field {
    font: inherit;

    box-sizing: border-box;
    width: 360px;
    margin-bottom: 35px;
    padding: 14px;

    border: 2px solid #d7dcde;
    border-radius: 3px;
}

.modal-write-us-input-textfield {
    font: inherit;

    box-sizing: border-box;
    width: 100%;
    margin-bottom: 35px;
    padding: 14px;


    border: 2px solid #d7dcde;
    border-radius: 3px;
}

.modal-write-us-input-field:hover,
.modal-write-us-input-textfield:hover {
    border-color: #b4b9bb;
}

.modal-write-us-input-field:focus,Ã‘â€ 
.modal-write-us-input-textfield:focus {
    border-color: #000000;
}

.modal-write-us-input-field:invalid,
.modal-write-us-input-textfield:invalid {
    border-color: #e74246;
}

.modal-write-us-button {
    margin: 10px 0;
    padding: 14px 80px;
}

@keyframes show {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes error {
    0%, 100% {transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
    20%, 40%, 60%, 80% {transform: translateX(10px);}
}

.modal-is-showed {
    display: block;
    animation-name: show;
    animation-duration: 1s;
}

.modal-error {
    animation-name: error;
    animation-duration: 0.6s;
}